body {
    background: #000 url("./image/signin_bg.jpg") center center fixed no-repeat;
    background-size:cover;
}

#header {
    height: 100px;
    width: 100px;
    margin: auto;
    animation-name: dropIn;
    animation-duration: 2s;
}

.register_sign_form {
    position: absolute;
    width: 30%;
    height: 50%;
    top: 20%;
    left: 35%;
    text-align: center;
}
.register_sign_form p {
  font-family: Microsoft JhengHei; 
  font-size: 24px;
  margin: 5%;
}
#name, #pwd, #ensure, #old_pwd, #new_pwd {
    background-color: rgba(189, 195, 199, 1);
    display: block;
    height: 30px;
    margin: -10px auto;
    border-radius: 7px;
    text-align: center;
    outline: none;
    border: none;
    margin-bottom: 2%;
}
#reg_btn, #login_btn, #change_pw {
    display: inline-block;
    color: white;
    border-radius: 4px;
    background-color: #97cbff;
    transition: all .3s ease;
    width: 120px;
    height: 30px;
    font-family: Microsoft JhengHei;
    font-size: 18px;
    margin: 10%;
    outline: none;
}

#change_pw{
    display: block;
    color: white;
    background-color: #97cbff;
    transition: all .3s ease;
    border-radius: 4px;
    width: 60%;
    height: 30px;
    font-family: Microsoft JhengHei;
    font-size: 18px;
    margin: 10% 20%;
    outline: none;
}

#reg_btn:active, #login_btn:active, #change_pw:active, #reg_btn:hover, #login_btn:hover, #change_pw:hover {
    background-color: #0080ff;
    color: white;
}
/* Drop */
@-webkit-keyframes dropIn {
    0% {
      opacity: 0;
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
}
@keyframes dropIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
}

@media only screen and (max-width: 900px) {
    .register_sign_form {
        position: absolute;
        width: 50%;
        height: 60%;
        top: 20%;
        left: 25%;
        text-align: center;
    }
    #name, #pwd, #ensure, #old_pwd, #new_pwd {
        display: block;
        height: 30px;
        margin: 0px auto;
        border-radius: 7px;
        text-align: center;
        outline: none;
        border: none;
    }
    #reg_btn, #login_btn, #change_pw {
        display: block;
        color: white;
        background-color: #97cbff;
        width: 180px;
        height: 30px;
        font-family: Microsoft JhengHei;
        font-size: 18px;
        margin: 15px auto;
        outline: none;
    }
}

.my_icon {
    position: absolute;
    top: 20%;
    right: 35%;
    font-size: 2em; 
    color:white;
    z-index: 99;
}

#result{
    text-align: center;
    font-size: 2em;
    margin: 0px;
}
