* { box-sizing: border-box;}
html {
  height: 100%; }
body{
	overflow: hidden;
    background: #000 url("./image/background.png") center center fixed no-repeat!important;
    background-size:cover!important;

}
img{
	object-fit: cover;
}


:root{
	--left0:30%;
	--left00:48%;

	--left1:26%;   /*Left Picture  start*/
	--left2:50%;   /*Right Picture start*/

	--left3:20%;   /*Left Picture  Second*/
	--left4:60%;   /*Right Picture Second*/

	--left5:4%;
	--left6:98%;

    --initPos : 180px; /*230*/
    --Pos1 : 150px;  /*50*/
    --OutPos : -500px;
    --EndPos : 200px;
}
/*.block{
    float: left;
    width: 25%;
    height: 50%;
    background-color: rgba(127, 255, 212, 0.6);
	
}

#b1{
	 border-radius:60%;
    position: relative;
    top: 25%;
    left: 20%;
}

#b2{
    position: relative;
    top: 25%;
    left: 32%;
}*/
/*#video{
	display: none;
	border-radius:60%;
    position: absolute;
    left: var(--left1);
    bottom: var(--EndPos);
    width: 23%;
    height: 40%;
    opacity: 0;
    z-index: 15;
    transform:scale(0.5);
    box-shadow:2px 2px 2px rgba(20%,20%,40%,0.6),4px 4px 6px rgba(20%,20%,40%,0.4),6px 6px 12px rgba(20%,20%,40%,0.4);
}*/

#bg{
	  position: absolute;
	  left:5px;
	  top:15px;
	  /* border-radius: 50%; */
	  width:250px;
}

.show{
    position: relative;
    width: 100%;
    height: 100%;
}

.fade_pic{
  
    position: absolute;
    width: 100%;
    height:100%;
}

.reveal_pic{
    border-radius: 5px;
    position: absolute;
    width: 100%;
    height:80%;
	background-size:cover;
}

.blockTitle{
	font-family: "Noto Sans TC", sans-serif;
    float: left;
    position: relative;
    width: 100%;
    height: 15%;
    text-align: center;
    top: 85%;
}

.behind{
	
    width: 70%;
    height:100%;
    opacity: 0;
    position: absolute;
}

.block {
	
	float: left;
    width: 25%;
    height: 50%;
    background-color: rgba(255, 255, 255, 1);
   
    display: none;
    position: fixed; 
    padding-top: 0px; 
    overflow: hidden;
   

}
/*
.icon {
    position: absolute;
    height: 2%;
    top: 1%;
    color: #443f3b;
    text-align: center;
    font-size: 24px;
    padding: 5px 5px;
    border-radius: 30%;
    z-index: 3;
}*/

.floating.message{
    position: absolute;
    left:50%;
    width:12%;
    top:1%;
    text-align: center;
} 

@keyframes movingForwardStage0 {
    from {
        opacity: 0;
        bottom: var(--EndPos);  
        transform: scale(0.5, 0.5);
    }
    to {
        opacity: 0.5;
        bottom: var(--initPos);     
        transform: scale(0.7, 0.7);
    }
}

@keyframes movingForwardStage1 {
    from {
        opacity: 0.5;
        bottom: var(--initPos);  
        transform: scale(0.7, 0.7);
    }
    to {
        opacity: 1;
        bottom: var(--Pos1);     
        transform: scale(1.2, 1.2);
    }
}

@keyframes movingForwardStage2 {
    from {
        bottom: var(--Pos1);   
        opacity: 1;
        transform: scale(1.2, 1.2);
    }
    to {
        
        bottom: var(--OutPos);       
        opacity: 1;
        transform: scale(1.6, 1.6);
    }
}

@keyframes movingBackwardStage3 {
    from {

        bottom: var(--OutPos);
        opacity: 1;
        transform: scale(1.6, 1.6);
    }
    to {
        bottom: var(--Pos1);        
        opacity: 1;
        transform: scale(1.2, 1.2);
    }
}

@keyframes movingBackwardStage2 {
    from {
        opacity: 1;
        bottom: var(--Pos1);
        transform: scale(1.2, 1.2);
    }
    to {
        opacity: 0.5;
        bottom: var(--initPos);        
        transform: scale(0.7, 0.7);
    }
}

@keyframes movingBackwardStage1 {
    from {
        opacity: 0.5;
        bottom: var(--initPos);        
        transform: scale(0.7, 0.7);
    }
    to {
        opacity: 0;
        bottom: var(--EndPos);  
        transform: scale(0.5, 0.5);
    }
}

.visible{
    background-color:whitesmoke;
}

#v0 {
    box-shadow:-2px 2px 2px rgba(20%,20%,40%,0.6),-4px 4px 6px rgba(20%,20%,40%,0.4),-6px 6px 12px rgba(20%,20%,40%,0.4);
	width: 35%;
    height: 60%;
	position: absolute !important;
	bottom: 150px;
 	left: var(--left2);
    opacity: 0.5;
    z-index: 21;
	border-radius:10px;
	scale:0.5;

}
#v0 > div.hidden.content > video{
	
    margin-top: 9%;
    margin-left: 8%;
	margin-right: 8%;
}

#b0 {
    box-shadow:-2px 2px 2px rgba(20%,20%,40%,0.6),-4px 4px 6px rgba(20%,20%,40%,0.4),-6px 6px 12px rgba(20%,20%,40%,0.4);
	width: 40%;
    height: 60%;
	position: absolute !important;
	bottom: 150px;
 	left: 30%;
    opacity: 0;
    z-index: 20;
	border-radius:10px;
	display: none;

}
#b0 > div.hidden.content > p{
	font-family: "Noto Sans TC", sans-serif;
    margin-top: 9%;
    margin-left: 8%;
	margin-right: 8%;
}
#b1{
   box-shadow:-2px 2px 2px rgba(20%,20%,40%,0.6),-4px 4px 6px rgba(20%,20%,40%,0.4),-6px 6px 12px rgba(20%,20%,40%,0.4);
    /* bottom: 510px; */
    /* display: block; */
	position: absolute !important;
	bottom: var(--initPos);
 	left: var(--left1);
    transform:scale(0.7);
    opacity: 0;
    z-index: 19;
	border-radius:60%;
	width: 25%;
    height: 50%;
	display: none;
}
#b1 > div.hidden.content > p{
	font-family: "Noto Sans TC", sans-serif;
    margin-top: 25%;
    margin-left: 18%;
	margin-right: 13%;
}

#b2{
   box-shadow:-2px 2px 2px rgba(20%,20%,40%,0.6),-4px 4px 6px rgba(20%,20%,40%,0.4),-6px 6px 12px rgba(20%,20%,40%,0.4);
    /* bottom: 510px; */
    /* display: block; */
	position: absolute !important;
	bottom: var(--initPos);
 	left: var(--left2);
    transform:scale(0.7);
    opacity: 0;
    z-index: 18;
	border-radius:60%;
	width: 20%;
    height: 40%;
	display: none;

}
#b2 > div.hidden.content > p{
	font-family: "Noto Sans TC", sans-serif;
    margin-top: 32%;
    margin-left: 18%;
	margin-right: 13%;
}
#b3 {
	box-shadow:-2px 2px 2px rgba(20%,20%,40%,0.6),-4px 4px 6px rgba(20%,20%,40%,0.4),-6px 6px 12px rgba(20%,20%,40%,0.4);
    /* bottom: 510px; */
    /* display: block; */
	position: absolute !important;
	bottom: var(--initPos);
 	left: var(--left1);
    transform:scale(0.7);
    opacity: 0;
    z-index: 17;
	width: 23%;
    height: 40%;
	border-radius:8px;
	display: none;
}
#b3 > div.hidden.content > p{
	font-family: "Noto Sans TC", sans-serif;
    margin-top: 10%;
    margin-left: 13%;
	margin-right: 13%;
}
#b4 {
	box-shadow:-2px 2px 2px rgba(20%,20%,40%,0.6),-4px 4px 6px rgba(20%,20%,40%,0.4),-6px 6px 12px rgba(20%,20%,40%,0.4);
    /* bottom: 510px; */
    /* display: block; */
	position: absolute !important;
	bottom: var(--initPos);
 	left: var(--left2);
    transform:scale(0.7);
    opacity: 0;
    z-index: 16;
	width: 20%;
    height: 40%;
	border-radius:8px;
	display: none;
}
#b4 > div.hidden.content > p{
	font-family: "Noto Sans TC", sans-serif;
    margin-top: 18%;
    margin-left: 15%;
	margin-right: 13%;
}
#b5 {
    /* bottom: 500px; */
    display: none;
	border-radius:60%;
    position: absolute;
    left: var(--left1);
    bottom: var(--EndPos);
    width: 25%;
    height: 42%;
    opacity: 0;
    z-index: 15;
    transform:scale(0.5);
	display: none;
    box-shadow:2px 2px 2px rgba(20%,20%,40%,0.6),4px 4px 6px rgba(20%,20%,40%,0.4),6px 6px 12px rgba(20%,20%,40%,0.4);
}
#b5>div.behind > p{
	font-family: "Noto Sans TC", sans-serif;
	border-radius:60%;
    position: relative;
    left:25%;
    top: 24%;
}
#b6 {
	box-shadow:-2px 2px 2px rgba(20%,20%,40%,0.6),-4px 4px 6px rgba(20%,20%,40%,0.4),-6px 6px 12px rgba(20%,20%,40%,0.4);
    /* bottom: 510px; */
    /* display: block; */
	position: absolute !important;
	bottom: var(--initPos);
 	left: var(--left2);
    transform:scale(0.7);
    opacity: 0;
    z-index: 14;
	width: 20%;
    height: 40%;
	border-radius:8px;
	display: none;
}
#b6> div.hidden.content > p{
	font-family: "Noto Sans TC", sans-serif;
    margin-top: 13%;
    margin-left: 15%;
	margin-right: 13%;
}
#b7 {
    /* bottom: 500px; */
    display: none;
	border-radius:10px;
    position: absolute;
    left: var(--left1);
    bottom: var(--EndPos);
    width: 29%;
    height: 34%;
    opacity: 0;
    z-index: 13;
    transform:scale(0.5);
	display: none;
    box-shadow:2px 2px 2px rgba(20%,20%,40%,0.6),4px 4px 6px rgba(20%,20%,40%,0.4),6px 6px 12px rgba(20%,20%,40%,0.4);
}
#b7>div.behind > p{
	font-family: "Noto Sans TC", sans-serif;
	position: relative;
    left:25%;
    top: 25%;
}
#b8 {
    /* bottom: 500px; */
    display: none;
    position: absolute;
    left: var(--left2);
    bottom: var(--EndPos);
    width: 25%;
    height: 35%;
    opacity: 0;
    z-index: 12;
    transform:scale(0.5);
	display: none;
    box-shadow:2px 2px 2px rgba(20%,20%,40%,0.6),4px 4px 6px rgba(20%,20%,40%,0.4),6px 6px 12px rgba(20%,20%,40%,0.4);
	border-radius:5px;
}
#b8>div.behind > p{
	font-family: "Noto Sans TC", sans-serif;	
    position: relative;
    left:25%;
    top: 25%;
}
#b9 {
    /* bottom: 500px; */
    display: none;
    position: absolute;
    left: var(--left1);
    bottom: var(--EndPos);
    width: 23%;
    height: 35%;
    opacity: 0;
    z-index: 12;
    transform:scale(0.5);
	display: none;
    box-shadow:2px 2px 2px rgba(20%,20%,40%,0.6),4px 4px 6px rgba(20%,20%,40%,0.4),6px 6px 12px rgba(20%,20%,40%,0.4);
	border-radius:5px;
}
#b9>div.behind > p{
	font-family: "Noto Sans TC", sans-serif;	
    position: relative;
    left:25%;
    top: 25%;
}

#b10 {
    /* bottom: 500px; */
    display: none;
    position: absolute;
    left: var(--left2);
    bottom: var(--EndPos);
    width: 23%;
    height: 35%;
    opacity: 0;
    z-index: 12;
    transform:scale(0.5);
	display: none;
    box-shadow:2px 2px 2px rgba(20%,20%,40%,0.6),4px 4px 6px rgba(20%,20%,40%,0.4),6px 6px 12px rgba(20%,20%,40%,0.4);
	border-radius:5px;
}
#b10>div.behind > p{
	font-family: "Noto Sans TC", sans-serif;	
    position: relative;
    left:25%;
    top: 25%;
}
#b11 {
    /* bottom: 500px; */
    display: none;
    position: absolute;
    left: var(--left1);
    bottom: var(--EndPos);
    width: 23%;
    height: 50%;
    opacity: 0;
    z-index: 12;
    transform:scale(0.5);
	display: none;
    box-shadow:2px 2px 2px rgba(20%,20%,40%,0.6),4px 4px 6px rgba(20%,20%,40%,0.4),6px 6px 12px rgba(20%,20%,40%,0.4);
	border-radius:5px;
}
#b11>div.behind > p{
	font-family: "Noto Sans TC", sans-serif;	
    position: relative;
    text-align: center;
    left:25%;
    top: 20%;
}

#b12 {
    /* bottom: 500px; */
    display: none;
	border-radius:60%;
    position: absolute;
    left: var(--left2);
    bottom: var(--EndPos);
    width: 25%;
    height: 60%;
    opacity: 0;
    z-index: 4;
    transform:scale(0.5);
	display: none;
    box-shadow:2px 2px 2px rgba(20%,20%,40%,0.6),4px 4px 6px rgba(20%,20%,40%,0.4),6px 6px 12px rgba(20%,20%,40%,0.4);
}
#b12>div.behind > p{
	font-family: "Noto Sans TC", sans-serif;
	border-radius:60%;
    position: relative;
    left: 25%;
    top: 25%;
}
#b13 {
    /* bottom: 500px; */
    display: none;
	border-radius:60%;
    position: absolute;
    left: var(--left1);
    bottom: var(--EndPos);
    width: 25%;
    height: 60%;
    opacity: 0;
    z-index: 4;
    transform:scale(0.5);
	display: none;
    box-shadow:2px 2px 2px rgba(20%,20%,40%,0.6),4px 4px 6px rgba(20%,20%,40%,0.4),6px 6px 12px rgba(20%,20%,40%,0.4);
}
#b13>div.behind > p{
	font-family: "Noto Sans TC", sans-serif;
	border-radius:60%;
    position: relative;
    left: 25%;
    top: 20%;
}

#b14 {
    /* bottom: 500px; */
    display: none;
	border-radius:20px;
    position: absolute;
    left: var(--left2);
    bottom: var(--EndPos);
    width: 28%;
    height: 45%;
    opacity: 0;
    z-index: 4;
    transform:scale(0.5);
	display: none;
    box-shadow:2px 2px 2px rgba(20%,20%,40%,0.6),4px 4px 6px rgba(20%,20%,40%,0.4),6px 6px 12px rgba(20%,20%,40%,0.4);
}
#b14>div.behind > p{
	font-family: "Noto Sans TC", sans-serif;
	border-radius:20px;
    position: relative;
    left: 25%;
    top: 18%;
}

#b15 {
    /* bottom: 500px; */
    display: none;
	border-radius:20px;
    position: absolute;
    left: var(--left1);
    bottom: var(--EndPos);
    width: 28%;
    height: 45%;
    opacity: 0;
    z-index: 4;
    transform:scale(0.5);
	display: none;
    box-shadow:2px 2px 2px rgba(20%,20%,40%,0.6),4px 4px 6px rgba(20%,20%,40%,0.4),6px 6px 12px rgba(20%,20%,40%,0.4);
}
#b15>div.behind > p{
	font-family: "Noto Sans TC", sans-serif;
	border-radius:20px;
    position: relative;
    left: 25%;
    top: 15%;
}

#b16 {
	box-shadow:-2px 2px 2px rgba(20%,20%,40%,0.6),-4px 4px 6px rgba(20%,20%,40%,0.4),-6px 6px 12px rgba(20%,20%,40%,0.4);
    /* bottom: 510px; */
    /* display: block; */
	position: absolute !important;
	bottom: var(--initPos);
 	left: var(--left2);
    transform:scale(0.7);
    opacity: 0;
    z-index: 14;
	width: 28%;
    height: 55%;
	display: none;
	border-radius:8px;
}
#b16> div.hidden.content > p{
	font-family: "Noto Sans TC", sans-serif;
    margin-top: 13%;
    margin-left: 15%;
	margin-right: 13%;
}
#b17 {
    /* bottom: 500px; */
    display: none;
	border-radius:5%;
    position: absolute;
    left: var(--left1);
    bottom: var(--EndPos);
    width: 28%;
    height: 40%;
    opacity: 0;
    z-index: 4;
    transform:scale(0.5);
	display: none;
    box-shadow:2px 2px 2px rgba(20%,20%,40%,0.6),4px 4px 6px rgba(20%,20%,40%,0.4),6px 6px 12px rgba(20%,20%,40%,0.4);
}
#b17>div.behind > p{
	font-family: "Noto Sans TC", sans-serif;
	border-radius:65%;
    position: relative;
    left: 25%;
    top: 20%;
}
#b18 {
	box-shadow:-2px 2px 2px rgba(20%,20%,40%,0.6),-4px 4px 6px rgba(20%,20%,40%,0.4),-6px 6px 12px rgba(20%,20%,40%,0.4);
    /* bottom: 510px; */
    /* display: block; */
	position: absolute !important;
	bottom: var(--initPos);
 	left: var(--left2);
    transform:scale(0.7);
    opacity: 0;
    z-index: 14;
	width: 34%;
    height: 48%;
	display: none;
	border-radius:8px;
}
#b18> div.hidden.content > p{
	font-family: "Noto Sans TC", sans-serif;
    margin-top: 13%;
    margin-left: 15%;
	margin-right: 13%;
}
#b19 {
    /* bottom: 500px; */
    display: none;
	border-radius:65%;
    position: absolute;
    left: var(--left1);
    bottom: var(--EndPos);
    width: 26%;
    height: 45%;
    opacity: 0;
    z-index: 4;
    transform:scale(0.5);
	display: none;
    box-shadow:2px 2px 2px rgba(20%,20%,40%,0.6),4px 4px 6px rgba(20%,20%,40%,0.4),6px 6px 12px rgba(20%,20%,40%,0.4);
}
#b19>div.behind > p{
	font-family: "Noto Sans TC", sans-serif;
	border-radius:65%;
    position: relative;
    left: 25%;
    top: 20%;
}
#b20 {
	box-shadow:-2px 2px 2px rgba(20%,20%,40%,0.6),-4px 4px 6px rgba(20%,20%,40%,0.4),-6px 6px 12px rgba(20%,20%,40%,0.4);
    /* bottom: 510px; */
    /* display: block; */
	position: absolute !important;
	bottom: var(--initPos);
 	left: var(--left2);
    transform:scale(0.7);
    opacity: 0;
    z-index: 14;
	width: 29%;
    height: 55%;
	display: none;
	border-radius:8px;
}
#b20> div.hidden.content > p{
	font-family: "Noto Sans TC", sans-serif;
    margin-top: 13%;
    margin-left: 15%;
	margin-right: 13%;
}
#b21 {
    /* bottom: 500px; */
    display: none;
	border-radius:65%;
    position: absolute;
    left: var(--left1);
    bottom: var(--EndPos);
    width: 26%;
    height: 45%;
    opacity: 0;
    z-index: 4;
    transform:scale(0.5);
	display: none;
    box-shadow:2px 2px 2px rgba(20%,20%,40%,0.6),4px 4px 6px rgba(20%,20%,40%,0.4),6px 6px 12px rgba(20%,20%,40%,0.4);
}
#b21>div.behind > p{
	font-family: "Noto Sans TC", sans-serif;
	border-radius:65%;
    position: relative;
    left: 25%;
    top: 33%;
}
#b22 {
	box-shadow:-2px 2px 2px rgba(20%,20%,40%,0.6),-4px 4px 6px rgba(20%,20%,40%,0.4),-6px 6px 12px rgba(20%,20%,40%,0.4);
    /* bottom: 510px; */
    /* display: block; */
	position: absolute !important;
	bottom: var(--initPos);
 	left: var(--left2);
    transform:scale(0.7);
    opacity: 0;
    z-index: 14;
	width: 33%;
    height: 55%;
	display: none;
	border-radius:8px;
}
#b22> div.hidden.content > p{
	font-family: "Noto Sans TC", sans-serif;
    margin-top: 10%;
    margin-left: 12%;
	margin-right: 13%;
}
#b23 {
    /* bottom: 500px; */
    display: none;
	border-radius:65%;
    position: absolute;
    left: var(--left1);
    bottom: var(--EndPos);
    width: 24%;
    height: 45%;
    opacity: 0;
    z-index: 4;
    transform:scale(0.5);
	display: none;
    box-shadow:2px 2px 2px rgba(20%,20%,40%,0.6),4px 4px 6px rgba(20%,20%,40%,0.4),6px 6px 12px rgba(20%,20%,40%,0.4);
}
#b23>div.behind > p{
	font-family: "Noto Sans TC", sans-serif;
	border-radius:65%;
    position: relative;
    left: 25%;
    top: 33%;
}
#b24 {
    /* bottom: 500px; */
    display: none;
	border-radius:65%;
    position: absolute;
    left: var(--left2);
    bottom: var(--EndPos);
    width: 24%;
    height: 45%;
    opacity: 0;
    z-index: 4;
    transform:scale(0.5);
	display: none;
    box-shadow:2px 2px 2px rgba(20%,20%,40%,0.6),4px 4px 6px rgba(20%,20%,40%,0.4),6px 6px 12px rgba(20%,20%,40%,0.4);
}
#b24>div.behind > p{
	font-family: "Noto Sans TC", sans-serif;
	border-radius:65%;
    position: relative;
    left: 25%;
    top: 18%;
}
#b25 {
	box-shadow:-2px 2px 2px rgba(20%,20%,40%,0.6),-4px 4px 6px rgba(20%,20%,40%,0.4),-6px 6px 12px rgba(20%,20%,40%,0.4);
    /* bottom: 510px; */
    /* display: block; */
	position: absolute !important;
	bottom: var(--initPos);
 	left: var(--left1);
    transform:scale(0.7);
    opacity: 0;
    z-index: 14;
	width: 28%;
    height: 65%;
	display: none;
	border-radius:8px;
}
#b25> div.hidden.content > p{
	font-family: "Noto Sans TC", sans-serif;
    margin-top: 18%;
    margin-left: 12%;
	margin-right: 13%;
}
#b26 {
    /* bottom: 500px; */
    display: none;
	border-radius:65%;
    position: absolute;
    left: var(--left2);
    bottom: var(--EndPos);
    width: 24%;
    height: 50%;
    opacity: 0;
    z-index: 4;
    transform:scale(0.5);
	display: none;
    box-shadow:2px 2px 2px rgba(20%,20%,40%,0.6),4px 4px 6px rgba(20%,20%,40%,0.4),6px 6px 12px rgba(20%,20%,40%,0.4);
}
#b26>div.behind > p{
	font-family: "Noto Sans TC", sans-serif;
	border-radius:65%;
    position: relative;
    left: 25%;
    top: 23%;
}
#b27 {
    /* bottom: 500px; */
    display: none;
	border-radius:10px;
    position: absolute;
    left: var(--left1);
    bottom: var(--EndPos);
    width: 24%;
    height: 50%;
    opacity: 0;
    z-index: 4;
    transform:scale(0.5);
	display: none;
    box-shadow:2px 2px 2px rgba(20%,20%,40%,0.6),4px 4px 6px rgba(20%,20%,40%,0.4),6px 6px 12px rgba(20%,20%,40%,0.4);
}
#b27>div.behind > p{
	font-family: "Noto Sans TC", sans-serif;
	border-radius:10px;
    position: relative;
    left: 25%;
    top: 23%;
}
#b28 {
    /* bottom: 500px; */
    display: none;
	border-radius:10px;
    position: absolute;
    left: var(--left2);
    bottom: var(--EndPos);
    width: 24%;
    height: 50%;
    opacity: 0;
    z-index: 4;
    transform:scale(0.5);
	display: none;
    box-shadow:2px 2px 2px rgba(20%,20%,40%,0.6),4px 4px 6px rgba(20%,20%,40%,0.4),6px 6px 12px rgba(20%,20%,40%,0.4);
}
#b28>div.behind > p{
	font-family: "Noto Sans TC", sans-serif;
	border-radius:10px;
    position: relative;
    left: 25%;
    top: 23%;
}
#b29 {
    /* bottom: 500px; */
    display: none;
	border-radius:60%;
    position: absolute;
    left: var(--left1);
    bottom: var(--EndPos);
    width: 24%;
    height: 45%;
    opacity: 0;
    z-index: 4;
    transform:scale(0.5);
	display: none;
    box-shadow:2px 2px 2px rgba(20%,20%,40%,0.6),4px 4px 6px rgba(20%,20%,40%,0.4),6px 6px 12px rgba(20%,20%,40%,0.4);
}
#b29>div.behind > p{
	font-family: "Noto Sans TC", sans-serif;
	border-radius:60%;
    position: relative;
    left: 28%;
    top: 35%;
}
#b30 {
	box-shadow:-2px 2px 2px rgba(20%,20%,40%,0.6),-4px 4px 6px rgba(20%,20%,40%,0.4),-6px 6px 12px rgba(20%,20%,40%,0.4);
    /* bottom: 510px; */
    /* display: block; */
	position: absolute !important;
	bottom: var(--initPos);
 	left: var(--left2);
    transform:scale(0.7);
    opacity: 0;
    z-index: 14;
	width: 28%;
    height: 65%;
	display: none;
	border-radius:8px;
}
#b30> div.hidden.content > p{
	font-family: "Noto Sans TC", sans-serif;
    margin-top: 18%;
    margin-left: 12%;
	margin-right: 13%;
}
#b31 {
	box-shadow:-2px 2px 2px rgba(20%,20%,40%,0.6),-4px 4px 6px rgba(20%,20%,40%,0.4),-6px 6px 12px rgba(20%,20%,40%,0.4);
    /* bottom: 510px; */
    /* display: block; */
	position: absolute !important;
	bottom: var(--initPos);
 	left: var(--left1);
    transform:scale(0.7);
    opacity: 0;
    z-index: 14;
	width: 29%;
    height: 60%;
	display: none;
	border-radius:8px;
}
#b31> div.hidden.content > p{
	font-family: "Noto Sans TC", sans-serif;
    margin-top: 18%;
    margin-left: 12%;
	margin-right: 13%;
}
#b32 {
    /* bottom: 500px; */
    display: none;
	border-radius:20px;
    position: absolute;
    left: var(--left2);
    bottom: var(--EndPos);
    width: 24%;
    height: 37%;
    opacity: 0;
    z-index: 4;
    transform:scale(0.5);
	display: none;
    box-shadow:2px 2px 2px rgba(20%,20%,40%,0.6),4px 4px 6px rgba(20%,20%,40%,0.4),6px 6px 12px rgba(20%,20%,40%,0.4);
}
#b32>div.behind > p{
	font-family: "Noto Sans TC", sans-serif;
	border-radius:20px;
    position: relative;
    left: 25%;
    top: 23%;
}
#b33 {
    /* bottom: 500px; */
    display: none;
	border-radius:20px;
    position: absolute;
    left: var(--left1);
    bottom: var(--EndPos);
    width: 24%;
    height: 60%;
    opacity: 0;
    z-index: 4;
    transform:scale(0.5);
	display: none;
    box-shadow:2px 2px 2px rgba(20%,20%,40%,0.6),4px 4px 6px rgba(20%,20%,40%,0.4),6px 6px 12px rgba(20%,20%,40%,0.4);
}
#b33>div.behind > p{
	font-family: "Noto Sans TC", sans-serif;
	border-radius:20px;
    position: relative;
    left: 25%;
    top: 35%;
}
#b34 {
    /* bottom: 500px; */
    display: none;
	border-radius:60%;
    position: absolute;
    left: var(--left2);
    bottom: var(--EndPos);
    width: 22%;
    height: 40%;
    opacity: 0;
    z-index: 4;
    transform:scale(0.5);
	display: none;
    box-shadow:2px 2px 2px rgba(20%,20%,40%,0.6),4px 4px 6px rgba(20%,20%,40%,0.4),6px 6px 12px rgba(20%,20%,40%,0.4);
}
#b34>div.behind > p{
	font-family: "Noto Sans TC", sans-serif;
	border-radius:60%;
    position: relative;
    left: 25%;
    top: 35%;
}
#b35 {
    /* bottom: 500px; */
    display: none;
	border-radius:60%;
    position: absolute;
    left: var(--left1);
    bottom: var(--EndPos);
    width: 22%;
    height: 50%;
    opacity: 0;
    z-index: 4;
    transform:scale(0.5);
	display: none;
    box-shadow:2px 2px 2px rgba(20%,20%,40%,0.6),4px 4px 6px rgba(20%,20%,40%,0.4),6px 6px 12px rgba(20%,20%,40%,0.4);
}
#b35>div.behind > p{
	font-family: "Noto Sans TC", sans-serif;
	border-radius:60%;
    position: relative;
    left: 25%;
    top: 25%;
}
#b36 {
	box-shadow:-2px 2px 2px rgba(20%,20%,40%,0.6),-4px 4px 6px rgba(20%,20%,40%,0.4),-6px 6px 12px rgba(20%,20%,40%,0.4);
    /* bottom: 510px; */
    /* display: block; */
	position: absolute !important;
	bottom: var(--initPos);
 	left: var(--left2);
    transform:scale(0.7);
    opacity: 0;
    z-index: 14;
	width: 29%;
    height: 60%;
	display: none;
	border-radius:8px;
}
#b36> div.hidden.content > p{
	font-family: "Noto Sans TC", sans-serif;
    margin-top: 18%;
    margin-left: 12%;
	margin-right: 13%;
}
#b37 {
	box-shadow:-2px 2px 2px rgba(20%,20%,40%,0.6),-4px 4px 6px rgba(20%,20%,40%,0.4),-6px 6px 12px rgba(20%,20%,40%,0.4);
    /* bottom: 510px; */
    /* display: block; */
	position: absolute !important;
	bottom: var(--initPos);
 	left: var(--left1);
    transform:scale(0.7);
    opacity: 0;
    z-index: 14;
	width: 29%;
    height: 60%;
	display: none;
	border-radius:8px;
}
#b37> div.hidden.content > p{
	font-family: "Noto Sans TC", sans-serif;
    margin-top: 18%;
    margin-left: 12%;
	margin-right: 13%;
}
#b38 {
	box-shadow:-2px 2px 2px rgba(20%,20%,40%,0.6),-4px 4px 6px rgba(20%,20%,40%,0.4),-6px 6px 12px rgba(20%,20%,40%,0.4);
    /* bottom: 510px; */
    /* display: block; */
	position: absolute !important;
	bottom: var(--initPos);
 	left: var(--left2);
    transform:scale(0.7);
    opacity: 0;
    z-index: 14;
	width: 29%;
    height: 60%;
	display: none;
	border-radius:8px;
}
#b38> div.hidden.content > p{
	font-family: "Noto Sans TC", sans-serif;
    margin-top: 18%;
    margin-left: 12%;
	margin-right: 13%;
}
#b39 {
	box-shadow:-2px 2px 2px rgba(20%,20%,40%,0.6),-4px 4px 6px rgba(20%,20%,40%,0.4),-6px 6px 12px rgba(20%,20%,40%,0.4);
    /* bottom: 510px; */
    /* display: block; */
	position: absolute !important;
	bottom: var(--initPos);
 	left: var(--left1);
    transform:scale(0.7);
    opacity: 0;
    z-index: 14;
	width: 29%;
    height: 55%;
	display: none;
	border-radius:8px;
}
#b39> div.hidden.content > p{
	font-family: "Noto Sans TC", sans-serif;
    margin-top: 18%;
    margin-left: 12%;
	margin-right: 13%;
}

#img3 {
	left: var(--left1);
	bottom: var(--EndPos);    
    transform:scale(0.5);
    opacity: 0;
    z-index: 3;
	display: none;
}

#img4 {
	left: var(--left2);
	bottom: var(--EndPos);
    display: none;
    opacity: 0;
    transform:scale(0.5);
    z-index: 2;
}

#img5 {
	left: var(--left1);
	bottom: var(--EndPos);
    display: none;
    transform:scale(0.5);
    opacity: 0;
    z-index: 1;
}


/*-----------------------------------*/
@keyframes movingForwardStage0_r {
    from {
        opacity: 0;
        bottom: var(--EndPos); 
        left: var(--left00); 
        transform: scale(0.5, 0.5);
    }
    to {
        opacity: 0.5;
        left: var(--left2);
        bottom: var(--initPos);     
        transform: scale(0.7, 0.7);
    }
}

@keyframes movingForwardStage1_r {
    from {
        opacity: 0.5;
        left: var(--left2);
        bottom: var(--initPos);  
        transform: scale(0.7, 0.7);
    }
    to {
        opacity: 1;
        bottom: var(--Pos1);
        left: var(--left4);     
        transform: scale(1.2, 1.2);
    }
}

@keyframes movingForwardStage2_r {
    from {
        bottom: var(--Pos1);   
        opacity: 1;
        left: var(--left4);
        transform: scale(1.2, 1.2);
    }
    to {
        
        bottom: var(--OutPos);       
        opacity: 1;
        left: var(--left6);
        transform: scale(1.6, 1.6);
    }
}

@keyframes movingBackwardStage3_r {
    from {

        bottom: var(--OutPos);
        opacity: 1;
        left: var(--left6);
        transform: scale(1.6, 1.6);
    }
    to {
        bottom: var(--Pos1);        
        opacity: 1;
        left: var(--left4);
        transform: scale(1.2, 1.2);
    }
}

@keyframes movingBackwardStage2_r {
    from {
        opacity: 1;
        bottom: var(--Pos1);
        left: var(--left4);
        transform: scale(1.2, 1.2);
    }
    to {
        opacity: 0.5;
        bottom: var(--initPos);
        left: var(--left2);        
        transform: scale(0.7, 0.7);
    }
}

@keyframes movingBackwardStage1_r {
    from {
        opacity: 0.5;
        bottom: var(--initPos);
        left: var(--left2) ;       
        transform: scale(0.7, 0.7);
    }
    to {
        opacity: 0;
        bottom: var(--EndPos);  
        left: var(--left00);
        transform: scale(0.5, 0.5);
    }
}


/*-----------------------------------*/

/*-----------------------------------*/
@keyframes movingForwardStage0_l {
    from {
        opacity: 0;
        bottom: var(--EndPos); 
        left: var(--left0); 
        transform: scale(0.5, 0.5);
    }
    to {
        opacity: 0.5;
        left: var(--left1);
        bottom: var(--initPos);     
        transform: scale(0.7, 0.7);
    }
}

@keyframes movingForwardStage1_l {
    from {
        opacity: 0.5;
        left: var(--left1);
        bottom: var(--initPos);  
        transform: scale(0.7, 0.7);
    }
    to {
        opacity: 1;
        bottom: var(--Pos1);
        left: var(--left3);     
        transform: scale(1.2, 1.2);
    }
}

@keyframes movingForwardStage2_l {
    from {
        bottom: var(--Pos1);   
        opacity: 1;
        left: var(--left3);
        transform: scale(1.2, 1.2);
    }
    to {
        
        bottom: var(--OutPos);       
        opacity: 1;
        left: var(--left5);
        transform: scale(1.6, 1.6);
    }
}

@keyframes movingBackwardStage3_l {
    from {

        bottom: var(--OutPos);
        opacity: 1;
        left: var(--left5);
        transform: scale(1.6, 1.6);
    }
    to {
        bottom: var(--Pos1);        
        opacity: 1;
        left: var(--left3);
        transform: scale(1.2, 1.2);
    }
}

@keyframes movingBackwardStage2_l {
    from {
        opacity: 1;
        bottom: var(--Pos1);
        left: var(--left3);
        transform: scale(1.2, 1.2);
    }
    to {
        opacity: 0.5;
        bottom: var(--initPos);
        left: var(--left1);        
        transform: scale(0.7, 0.7);
    }
}

@keyframes movingBackwardStage1_l {
    from {
        opacity: 0.5;
        bottom: var(--initPos);
        left: var(--left1) ;       
        transform: scale(0.7, 0.7);
    }
    to {
        opacity: 0;
        bottom: var(--EndPos);  
        left: var(--left0);
        transform: scale(0.5, 0.5);
    }
}
/*-----------------------------------*/

#container {
    position: absolute;
    width:85%;
    bottom: 5%;
    left: 15%;
    z-index: 100;
}
   
.range {
    position: relative;
    width: 85%;
    height: 4px;
}
   
.range input {
    width: 100%;
    position: absolute;
    top: 3px;
    height: 0px;
    -webkit-appearance: none;
}
.range input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 35px;
    height: 40px;
    margin: -20px -3px 0;
/*    border-radius: 50%;
    background: #37adbf;
    background-image: url("merry.gif"); */
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    border: 0 !important;
}
.range input::-moz-range-thumb {
    width: 18px;
    height: 18px;
    margin: -8px 0 0;
    border-radius: 50%;
/*    background: #37adbf;*/
    cursor: pointer;
    border: 0 !important;
}
.range input::-ms-thumb {
    width: 18px;
    height: 18px;
    margin: -8px 0 0;
    border-radius: 50%;
/*    background: #37adbf;*/
    cursor: pointer;
    border: 0 !important;
}
.range input::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: #3c3c3c;
}
.range input::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: #3c3c3c;
}
.range input::-ms-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: #3c3c3c;
}
.range input:focus {
    background: none;
    outline: none;
}
.range input::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
.range-labels {
    margin: 18px -10px 0;
    padding: 0;
    list-style: none;
}
.range-labels li {
    position: relative;
    float: left;
    width: 2.11%;
    text-align: center;
    color: #3c3c3c;
    font-size: 14px;
    cursor: pointer;
}
.range-labels li::before {        /* 創造圓點 */
    position: absolute;
    top: -24px;     /* 調整圓點的高低 */
    right: 0px;
    left: -7px;
    content: "";
    margin: 0 auto;
    width: 11px;
    height: 11px;
    background: #3c3c3c;
    border-radius: 50%;
}
/*.range-labels .active {
    color: #37adbf;
}
.range-labels .selected::before {
    background: #37adbf;
}*/
.range-labels .active.selected::before {
    display: none;
}
.character {
    position: absolute;
    display: none;
    animation: fadeIn 0.2s;
}

#c-1 {
    width: 6.5%;
    left: 3%;
    bottom: 0%;
}

#c-2 {
    width: 8%;
    left: 10%;
    bottom: 9%;    
}

#c-3 {
    width: 13%;
    right: -4%;
    bottom: 0%;    
}

#c-4 {
    width: 6%;
    right: 9%;
    bottom: 9%;
    z-index: -1;    
}

#c-5 {
    width: 5%;
    left: 15.5%;
    bottom: 17%;
}

#c-6 {
    width: 5%;
    left: 20%;
    bottom: 22%;    
}

#c-7 {
    width: 5%;
    right: 15%;
    bottom: 16%;
    z-index: -2;
}

#c-8 {
    width: 10%;
    right: 15%;
    bottom: 23%;
    z-index: -3;    
}

#c-9 {
    width: 8%;
    left: 22%;
    bottom: 27%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*----------------*/
.open {
    position: fixed;
    font-size:30px;
    cursor:pointer;
    left: 10px;
    top: 10px;
}

.Search {
  float: left;
  overflow: visible;
}

.Search #mySearch {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.search-content {
  display: none;
  position: absolute;
  top: 90%;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
}

#myMenu {
    float: none;
    color: black;
    padding: 10px 12px;
    margin: 0;
    text-decoration: none;
    display: block;
    text-align: left;
    border-radius: 2%;
}

#myMenu li {
    padding: 5px;
    text-decoration: none;
    font-size: 13px;
    color: black;
    display: block;
}

#myMenu li:hover {
    background-color: #eee; 
}

/*----------------------------*/
.topnav {
    overflow: hidden;
    background-color: #333;
    /* width: 0; */
    height: 0;
    width: 100%;
    transition: 0.3s;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
  font-size: 13px;
}

.topnav p{
    margin-left: 3px;
    color: #f2f2f2;
    font-size: 10px;
}

.closebtn {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 25px 16px;
    text-decoration: none;
    font-size: 13px;
}

#usernow{
    float: left;
    display: block;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    margin: 0;
    font-size: 13px;
}

.home {
    background-color: rgb(230, 169, 100);
    color: white;
    height: 100%;
    padding: 25px 16px;
    font-size: 20px;
}
/*
.topnav .icon {
  display: none;
}
*/
.setting {
  float: left;
  overflow: hidden;
}

.setting .settingbtn {
    font-size: 13px;    
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    padding: 6px 0 0 0;
}

.settingItems {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#set{
    margin-left: 3px;
    margin-right: 3px;
    font-size: 13px;
    text-align: center;
}

.topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #555;
    color: white;
}

.setting:hover .settingItems {
    display: block;
} 
.person{
  display:none;
}
.sub_menu{
  display:block;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}
