.icon {
    position: absolute;
    height: 2%;
    color: #443f3b;
    text-align: center;
    font-size: 24px;
    padding: 5px 5px;
    border-radius: 30%;
    z-index: 3;
}

.icon:hover {
    opacity: 0.7;
}

#icon-home {
    right: 10px;
    top: 10px;
}

.big_bg{
    height: 425px;
    width: 425px;
    position: absolute;
    background-color: black;
    left: 50%;
    right: 50%;
    margin: -200px 0 0 -225px;
    top: 50%;
}

body{
    background: url("./bg.png") no-repeat;
    background-position: center top;
    background-size: cover;
}

.row{
    height: 105px;
    margin-left: 0px;
    padding-top: 0px;
}
.square{
    height: 100px;
    width: 100px;
    background-color: #555;
    float: left;
    /*margin: 5px;*/
    position: absolute;
    color: white;
    line-height: 100px;
    text-align: center;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
}
.c0{
    margin-left: 5px; 
 }
.c1{
   margin-left: 110px; 
}
.c2{
    margin-left: 215px; 
 }
.c3{
    margin-left: 320px; 
}

.title{
    font-family: "Permanent Marker", cursive;
    color: blue;
}

.btn{
    margin: 20px;
    width: 110px;
    height: 55px;
    float: left;
    margin-left: 1050px;
    border-color: green;
    border-width: 5px;
    background-color: yellow;
    font-family: "Noto Sans TC", sans-serif;
    border-radius: 15px;
    font-size: 14px;
}

#log{
    padding: 10px;
    width: 200px;
    height: 300px;
    background-color: rgb(43, 43, 38);
    float: left;
    margin-left: 1250px;
    margin-top: 30px;
    position: absolute;
    color: beige;
    font-size: 18px;
    line-height: 30px;
    overflow-y: scroll;
    font-family: "Noto Sans TC", sans-serif;
}
